{% load static %}
<!-- {% static "https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js" %}  -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href={% static "images_result/icons/favicon.ico" %} />
    <title>Cards Gallery</title>
	<link rel="stylesheet" href={% static "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %}>
	<link rel="stylesheet" href={% static "https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" %} />
    <link rel="stylesheet" href={% static "css/cards-gallery.css" %}>
</head>
<body>
   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="heading">
	          <h2>NASA PROGNOSTIC DATASET</h2>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0025.png" %}>
	                		<img src={% static "graph_images/B0025.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">25 </a></h6>
	                        <p class="text-muted card-text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
						<a class="lightbox" href={% static "graph_images/B0026.png" %}>
		                	<img src={% static "graph_images/B0026.png" %} alt="Card Image" class="card-img-top">
		                </a>
	                    <div class="card-body">
	                        <h6><a href="#">26</a></h6>
	                        <p class="text-muted card-text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0027.png" %}>
	                		<img src={% static "graph_images/B0027.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">27</a></h6>
	                        <p class="text-muted card-text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0028.png" %}>
	                		<img src={% static "graph_images/B0028.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">28</a></h6>
	                        <p class="text-muted card-text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0029.png" %}>
	                		<img src={% static "graph_images/B0029.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">29</a></h6>
	                        <p class="text-muted card-text">Temp.: 43 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0030.png" %}>
	                		<img src={% static "graph_images/B0030.png" %}alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">30</a></h6>
	                        <p class="text-muted card-text">Temp.: 43 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0031.png" %}>
	                		<img src={% static "graph_images/B0031.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">31</a></h6>
	                        <p class="text-muted card-text">Temp.: 43 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0032.png" %}>
	                		<img src={% static "graph_images/B0032.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">32</a></h6>
	                        <p class="text-muted card-text">Temp.: 43 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0033.png" %}>
	                		<img src={% static "graph_images/B0033.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">33</a></h6>
	                        <p class="text-muted card-text">Temp.: 24 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0034.png" %}>
	                		<img src={% static "graph_images/B0034.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">34</a></h6>
	                        <p class="text-muted card-text">Temp.: 24 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0036.png" %}>
	                		<img src={% static "graph_images/B0036.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">36</a></h6>
	                        <p class="text-muted card-text">Temp.: 24 deg. Discharge_current: 4A</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0038.png" %}>
	                		<img src={% static "graph_images/B0038.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">38</a></h6>
	                        <p class="text-muted card-text">Temp.: 24&44 deg. Discharge_current: (1, 2, and 4 A)</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0039.png" %}>
	                		<img src={% static "graph_images/B0039.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">39</a></h6>
	                        <p class="text-muted card-text">Temp.: 24&44 deg. Discharge_current: (1, 2, and 4 A)</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0040.png" %}>
	                		<img src={% static "graph_images/B0040.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">40</a></h6>
	                        <p class="text-muted card-text">Temp.: 24&44 deg. Discharge_current: (1, 2, and 4 A)</p>
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href={% static "graph_images/B0041.png" %}>
	                		<img src={% static "graph_images/B0041.png" %} alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">41</a></h6>
	                        <p class="text-muted card-text">Temp.: 4 deg. Discharge_current: (4 and 1 A)</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </section>
    <script src={% static "https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js" %}></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>
</body>
</html>